body {
    background-color: rgb(241, 255, 239);
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-next {
    right: -80px;
}

#format1 {
    font-style: italic;
}

html,
body {
    height: 100%;
}

footer {
    background-color: #ffffff;
    min-height: 30px;
}

.wrapper {
    min-height: 3%;
    padding-bottom: 30px;
}

footer {
    margin-top: 30px;
}

#book {
    margin: 10px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.incorrect {
    text-align: center;
    width: 30%;

}

.correct {
    text-align: center;
    width: 30%;
}


.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: rgb(255, 253, 253);
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}